/* <style> */
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Spicy+Rice&display=swap');
/* </style> */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-lg{
    font-size: 9vw;
}
.font-md{
    font-size: 4vw;
}
.font-sm{
    font-size: 1.6vw;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.custom-hover:hover {
    background-color: #ffffff !important; /* Light background on hover */
    color: #007bff !important; 
    border: 1px solid black !important;
    /* Primary blue text on hover */
  }
 
  .width-100{
    width: 70%;
  }
  .width-70{
    width: 100%;
  }
  @media (min-width: 310px) and (max-width: 709px) {
    footer p {
      font-size: 24px; /* For very small screens */
    }
    .mediaQuery {
      gap: 20px;
    }
    .mSm {
      font-size: 18px;
      text-align: center;
    }
    .mMd{
      font-size: 32px;
      text-align: center;
    }
    .mLg{
      font-size: 54px;
      text-align: center;
    }
    .mNm{
      font-size: 26px;
    }
  }
  
  @media (min-width: 400px) {
    footer p {
      font-size: 30px; /* For screens 400px and wider */
    }
  }
  .fs{
    font-family: "Spicy Rice", serif;
  }
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    /* background-color: #333; */
    /* color: white; */
    text-align: center;
    padding: 10px 0;
    /* margin-top: 0px; */
  }